extends layout

block content
  
  h1= title
  p Welcome to #{title}
  
    each message in messages
    
      .Message_Block  

        h2= message.user
        h3= message.text
        p= message.added

    
    br 

  form(action="/new")
      input(type="submit" value="Add New Message!")